@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Sora-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../public/fonts/Sora-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../public/fonts/Sora-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/Sora-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Empires';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Empires.otf') format('opentype');
}

html,
body {
  @apply font-body antialiased;
}
@tailwind utilities;

.font-headings {
  font-weight: var(--typography-font-weight-headings);
}

.font-body {
  font-weight: var(--typography-font-weight-body);
}

.uppercase {
  @apply tracking-wide;
}

.line-clamp > *,
[class*='line-clamp-'] > * {
  display: contents;
}

@layer utilities {
  .all-ease-in-out-400 {
    @apply transition-all duration-400 ease-in-out;
  }

  .rich-text-p-spacing-sm p {
    @apply mb-4;
  }

  .rich-text-p-spacing-sm p:last-child {
    @apply mb-0;
  }

  .path-fill-black-100 path {
    @apply fill-black-100;
  }

  .path-fill-black path {
    @apply fill-black;
  }

  .straight-quotation {
    quotes: '"' '"' "'" "'";
  }

  .safe-aspect-square {
    @apply w-full pb-[100%];
  }

  .safe-aspect-4-3 {
    @apply w-full pb-[75%]; /* 4:3 */
  }

  .safe-aspect-portrait {
    @apply w-full pb-[133.33%]; /* 3:4 */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    @apply hidden;
  }

  .decoration-skip-ink-none {
    text-decoration-skip-ink: none;
  }
}

.strikethrough-diagonal {
  position: relative;
}

.strikethrough-diagonal:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: var(--gray-400);
  transform: skewY(-11deg);
}
